###### Hardware definitions ######
[neopixel caselight]
pin: PB0                           # LED Signal Pin
chain_count: 21                 # The amount of neo pixels in the strip
color_order: GRB               # The type of neo pixel strip, e.g. RGBW GRB, RGB
initial_RED: 1.0                  # The next 4 values are for the color you want the lights to start up with. 
initial_GREEN: 1.0             # Setting all the lights to 0, will turn them off
initial_BLUE: 1.0
initial_WHITE: 1.0             # Lights will be white when printer turns on

#left side = neopixel:caselight (1-18)
#right side = neopixel:caselight (19-36) (or 36-19 to invert effect)

[neopixel sb_leds]
pin: EBBCan:PD3
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
initial_WHITE: 1.0

#[led_effect idle_effect]
#leds:
#    neopixel:caselight             # Use the entire caselight strip
#layers:
#    static 1 0 bottom (0.0, 0.0, 1.0)           # Solid blue for idle

#[led_effect preheat_effect]
#leds:
#    neopixel:caselight
#layers:
#    breathing 0.5 0 screen (1.0, 0.5, 0.0)      # Orange breathing effect

#[led_effect printing_effect]
#leds:
#    neopixel:caselight
#layers:
#    static 1 0 bottom (0.0, 1.0, 0.0)           # Solid green for printing

#[led_effect error_effect]
#leds:
#    neopixel:caselight
#layers:
#    blink 1 0 top (1.0, 0.0, 0.0)               # Blinking red for errors





